html {
	height: calc( 100% - 18px );
}

body, #content {
	height: 100%;
}

#accordion-parent {
	height: 100%;
	display: inline-block;
	width: 30%;
}

#tabs {
	width: 69%;
	height: 100%;
	vertical-align: top;
	display: inline-block;
}

#tabs>ul>li:not(.tab-loading)>a {
	margin-left: 20px;
}

#tabs>ul>li:not(.tab-loading)>a>i.fa {
	display: none;
}

#tabs>ul>li.tab-loading>a>i.fa {
	display: inline-block;
	margin-right: 3px;
}

#tabs>ul>li .ui-icon-close {
	float: left;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}

.editor .intLink {
	cursor: pointer;
}
.editor .toolBar {
	width: 100%;
	border: 1px #000000 solid;
}
.editor .toolBar ul {
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
}
.editor .toolBar ul li {
	list-style-type: none;
	display: inline-block;
}
.editor .textBox {
  width: calc( 100% - 24px );
  height: 90%;
  border: 1px #000000 solid;
  padding: 12px;
	background-color: #EEE;
	overflow: auto;
}

section.hide {
	display: none;
}
